.achievement {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../../images/happy-client.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  background-attachment: fixed;
  font-family: "Quicksand", sans-serif;
}
.achievement h1 {
  font-size: 70px;
}
.achievement p {
  color: rgb(209, 205, 205);
}

/* responsive for small devices */
@media (max-width: 992px) {
  .achievement h1 {
    font-size: 50px;
  }
  .achievement {
    height: 100vh;
  }
}
